@import './Vars.css';

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: 'Averta-regular', sans-serif;
}

.header {
  align-items: center;
  background-color: rgba(255, 251, 251, 0.9);
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 100px;
  position: fixed;
  padding: 0px 100px;
  left: 0;
  top: 0;
  width: 100%;

  .link {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  .menu {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
  }
}
